/* (c) 2016, Dmytro Ievseienko */

body { min-width: 768px; }
hr { margin: 7px 0; } 

.page-header { margin-top: 20px; }

.tooltip-inner { 
    white-space: nowrap;
    max-width: 380px;
}

#game-field { 
    border: 1px solid #eee;
    margin-bottom: 10px;
}
#game-field.running,
.green-border { border: 1px solid #0a0 !important; }


/* - FORM - */

/* padding top for all control labes (for xs) */
.form-horizontal .control-label {  padding-top: 7px; }

/* for control lables not at the beginning of the row text align right (for xs) */
.form-horizontal .control-label.no-xs-left { text-align: right; }

/* 
 * since right part of control uses sm buttons, height of the col is 30px
 * while left cols height is 34px. padding top and bottom of 2px fixes cols offset
 */
.sm-ctrls .form-group { padding: 2px 0; }

/* - TEMPLATES - */

/* description wrap */
.t-d-wrap {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 1px;
    overflow: hidden;
}

/* description */
.t-descr {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    height: 100%;
    width: 100%;
    bottom: -200px;
    overflow-y: scroll;
    border-radius: 4px;
    padding: 10px;
}

footer {
    color: #aaa;
    font-size: 11px;
}